<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title> Ricerca </title>
    <h1 style="text-align:center">Centri culturali di Bologna</h1>
    <p style="text-align:center"> Ricerca la struttura di tuo interesse! </p>
    
    <style>
        #homePage{
          background-color: blue;
          color: whitesmoke;
          margin-top:40px;
          margin-bottom: 10px;
        }

        .btn{
          background-color:darkblue;
          color: whitesmoke;
        }
        
  </style>

</head>
<body>
        <div class="container p-3 text-center" style="background-color: rgb(155, 196, 233);">
                <div class="row" id="colonnaNome">
                    <div class="col">
                        <p> Inserisci il nome della struttura da ricercare </p>
                    </div>
                    <div class="col">
                            <input 
                                type="text" 
                                placeholder="Search.." 
                                name="nome" 
                                id="nome">               
                            <button class="btn" id="searchNameBtn" >
                            cerca</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="padding: 20px 50px 0px 40px">
                        <p> Effettua la ricerca in base al tipo di struttura </p>
                    </div>
                    <div class="col" style="margin-top: 20px; padding: 0px 0px 0px 100px">
                            <select id="categoria" style="margin-top: 10px">
                                <option value="gallerie">Gallerie</option>
                                <option value="musei">Musei</option>
                                <option value="teatri">Teatri storici</option>
                            </select>
                            <button class="btn" id="searchTipoBtn" > cerca</button>           
                    </div>
                </div>

                <div class="row">
                    <div class="col" style="margin-top: 20px">
                        <p> Effettua la ricerca in base alla località </p>
                    </div>
                    <div class="col" style="margin-top: 20px">
                            <input 
                                type="text" 
                                placeholder="Search.." 
                                name="ricercaQuartiere"  
                                id="quartiere">
                            <button class="btn" id="searchQuartBtn"> cerca </button>
                    </div>
                </div>
        </div>
        <div class="container text-center" style="margin-bottom:50px;">
            <a href="/" class="btn" id="homePage" style="margin-top:20px;">Torna alla Home Page</a>
        </div>

        <div class="container text-center" id = "risultato"></div> 
    
        <script>         
            const element = document.getElementById("searchNameBtn");
            element.addEventListener("click", researchStructureName);
            
            async function researchStructureName() {

                let table = '<table id="table" style="margin-top: 20px">'+
                        '<thead style="background-color: rgb(86, 86, 244)">' +
                        '<tr><th scope="col"> Denominazione: </th>' +
                        '<th scope="col"> Quartiere </th>' +
                        '<th scope="col"> Indirizzo </th>' +
                        '<th scope="col"> Categoria </th>' +
                        '<th scope="col"> Descrizione </th></tr>' +
                        '</thead><tbody id="tabellaDati">';

                const nome = document.getElementById("nome").value;

                if(nome != ""){
                    const response =  await fetch('/cercaNome?' + new URLSearchParams({Denominazione: nome}));
                    console.log(response);
                    const struttura = await response.json();

                    if(response.ok) {
                       
                        table +=
                                '<tr class="fw-lighter"><th scope="row">' + 
                                        JSON.stringify(struttura.Denominazione) + '</th>' +
                                '<td>' + JSON.stringify(struttura.Quartiere) + '</td>' + 
                                '<td>' + JSON.stringify(struttura.Indirizzo) + '</td>' +
                                '<td>' + JSON.stringify(struttura.Categoria) + '</td>' +
                                '<td>' + JSON.stringify(struttura.Descrizione) + '</td>';
                    
                        table += "</td></tbody></table>";
                        document.getElementById('risultato').innerHTML = '<h4><i> Elemento ricercato:  </i></h4>' + table;
                    } else {
                        console.log("non esiste questa struttura")
                        document.getElementById("risultato").innerHTML =  "Struttura insesistente INESISTENTE";
                    } 
                }else{
                    alert("ATTENZIONE! Campo vuoto.")
                }             
            }              
        </script>

        <script>         
            const element2 = document.getElementById("searchTipoBtn");
            element2.addEventListener("click", researchStructureTipo);
            
            async function researchStructureTipo() {

                let table = '<table id="table" style="margin-top: 20px">'+
                            '<thead style="background-color: rgb(86, 86, 244)">' +
                            '<tr><th scope="col"> Denominazione: </th>' +
                            '<th scope="col"> Quartiere </th>' +
                            '<th scope="col"> Indirizzo </th>' +
                            '<th scope="col"> Categoria </th>' +
                            '<th scope="col"> Descrizione </th></tr>' +
                            '</thead><tbody id="tabellaDati">';

                const tipo = document.getElementById("categoria").value;

                const res =  await fetch('/cercaTipo?' + new URLSearchParams({Categoria: tipo}));
                console.log(res);
                const tipoStrutture = await res.json();

                    if(res.ok) {
                        for(let i = 1; i < tipoStrutture.length; i++){
                            inserimentoInTabella =
                                '<tr class="fw-lighter"><th scope="row">' + 
                                        JSON.stringify(tipoStrutture[i].Denominazione) + '</th>' +
                                '<td>' + JSON.stringify(tipoStrutture[i].Quartiere) + '</td>' + 
                                '<td>' + JSON.stringify(tipoStrutture[i].Indirizzo) + '</td>' +
                                '<td>' + JSON.stringify(tipoStrutture[i].Categoria) + '</td>' +
                                '<td>' + JSON.stringify(tipoStrutture[i].Descrizione) + '</td>';
                                
                            table += "</td></tbody></table>";
                            document.getElementById('risultato').innerHTML = '<h4><i> Elemento ricercato:  </i></h4>' + table;
                            }
                        console.log("non esiste questa struttura")
                        document.getElementById("risultato").innerHTML =  "Struttura insesistente INESISTENTE";
                    } else {
                        console.log("non esiste questa struttura")
                        document.getElementById("risultato").innerHTML =  "Struttura insesistente INESISTENTE";
                    } 
               
            } 
        </script>    
        
        <script>         
            const element3 = document.getElementById("searchQuartBtn");
            element3.addEventListener("click", researchStructureQuart);
            
            async function researchStructureQuart() {

                let table = '<table id="table" style="margin-top: 20px">'+
                        '<thead style="background-color: rgb(86, 86, 244)">' +
                        '<tr><th scope="col"> Denominazione: </th>' +
                        '<th scope="col"> Quartiere </th>' +
                        '<th scope="col"> Indirizzo </th>' +
                        '<th scope="col"> Categoria </th>' +
                        '<th scope="col"> Descrizione </th></tr>' +
                        '</thead><tbody id="tabellaDati">';

                const quartiere = document.getElementById("quartiere").value;

                if(quartiere != ""){
                    const resp =  await fetch('/cercaQuartiere?' + new URLSearchParams({Quartiere: quartiere}));
                    console.log(resp);
                    const structure = await resp.json();

                    if(resp.ok) {  
                        for(let i = 0; i < structure.length; i++){                     
                            table +=
                                    '<tr class="fw-lighter"><th scope="row">' + 
                                            JSON.stringify(structure[i].Denominazione) + '</th>' +
                                    '<td>' + JSON.stringify(structure[i].Quartiere) + '</td>' + 
                                    '<td>' + JSON.stringify(structure[i].Indirizzo) + '</td>' +
                                    '<td>' + JSON.stringify(structure[i].Categoria) + '</td>' +
                                    '<td>' + JSON.stringify(structure[i].Descrizione) + '</td>';
                        
                            table += "</td></tbody></table>";
                        }
                        document.getElementById('risultato').innerHTML = '<h4><i> Elemento ricercato:  </i></h4>' + table;
                    } else {
                        console.log("non esiste questa struttura")
                        document.getElementById("risultato").innerHTML =  "Struttura insesistente INESISTENTE";
                    } 
                }else{
                    alert("ATTENZIONE! Campo vuoto.")
                }             
            }              
        </script>
</body>
</html>