<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <title>La storia a Bologna</title>
    <h1 style="text-align:center">Centri culturali di Bologna</h1>
    <p style="text-align:center; margin-top: 15px;">In questo pagina è possibile accedere a tutte le informazioni relative a musei, gallerie d'arte e teatri presenti a Bologna.</p>
    <p style="font-size:large; text-align:center">Scopri i centri culturali storici più importanti!</p>
</head>
<body>

  <div class="container text-center">
    <a href="/views/tabella" class="btn" id="allData">Vai alla lista completa</a>

    <!-- definizione stile mappa e bottoni -->
    <style>
        #mapid { 
          height: 300px; 
          margin-top: 50px;
        }

        #research{
            background-color: rgb(114, 149, 209);
            color: whitesmoke;
        }

        #insert{
          background-color: rgb(90, 238, 238);
          color: whitesmoke;
        }

        #remove{
          background-color: rgb(27, 27, 119);
          color: whitesmoke;
          margin-right: 10%;
        }

        #allData{
                background-color: rgb(180, 217, 250);
                color: black;
                margin-top: 20px;
        }
    </style>

    <!-- inserimento mappa -->

    <div id="mapid"></div>

    <script>
        const latBologna = 44.494887;
        const lonBologna = 11.3426163;
       
        // open street map diventa la base dei dati
        // 1. uso open street map
        const attribution = '&copy; <a href="htts://www.openstreetmap.org/copyright"> OpenStreetMap </a>contributors';
        // 2. formato per open street map per accedere ai dati
        const tUrl = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
        // 3. carico il formato come layer della mappa e lo aggiungo al contenitore della mappa stessa 
        const tiles = L.tileLayer(tUrl, { attribution });

        // Setup della mappa alla posizione di Bologna
        // L= oggetto dell'interfaccia per poter accedere ai metodi, 13 = livello di zoom sulla mappa
        var map = L.map('mapid').setView([latBologna, lonBologna], 13);
        tiles.addTo(map);        

        // al caricare della pagina viene chiamata la funzione "setupstrutture"
        window.addEventListener("load", setupStrutture);

        // scorro a gruppi di due, perchè ogni 2 indici ho l'info in merito ad ogni struttura
        async function setupStrutture() {
          const strutture = await getStrutture();
          for (let i = 2; i < strutture.markersInfo.length; i += 2) {
            var lon = strutture.markersInfo[i][0];
            var lat = strutture.markersInfo[i][1];
            var descrizione = strutture.markersInfo[i + 1];
            if (!isNaN(lat) && !isNaN(lon)) {
              var markerStruttura = new L.LatLng(lat, lon);
              var marker = new L.Marker(markerStruttura);
              map.addLayer(marker);
              
              marker.bindPopup(descrizione);
            } else {
              console.log("Posizione assente per " + descrizione);
            }
          }
        }

        // chiamata http al sever dove vengono chiesti tutti i dati csv
        async function getStrutture() {
            const response = await fetch("/datacsv");
            const data = await response.text();

            const markersInfo = []; // [lat,lon] vettore
            const rows = data.split("\n"); // Quartiere, Categorie, Denominazione, Descrizione, Indirizzo, Latitudine, Longitudine
            var primaRiga = 0;
            // viene eseguito il parsing del csv
            rows.forEach(row => {
              const cols = row.split(';'); 
              const descrizione = 
                cols[0] + "<br>" +
                cols[1] + "<br>" +
                cols[2] + "<br>" +
                cols[4] + "<br>";

                // popolo la struttura con info di latitudine e longitudine
                markersInfo.push([parseFloat(cols[6]), parseFloat(cols[5])]);
                markersInfo.push(descrizione);
                });
            return { markersInfo };
          }

    </script>
  </div>

  <p style="margin-top:30px; margin-left: 100px; font-size: 16px;"> Credi che il sito non sia abbastanza aggiornato?<br>
    Qui di seguito avrai la possibilità di gestire al meglio ogni struttura. <br>
    Potrai ricercare le strutture per nome, quartiere o categoria, inserire strutture non presenti sul sito o eliminare quelle che sono state chiuse! </p>

  <div class="container text-center" style="margin-right: 30px;">
    <a href="/views/inserisci" class="btn" id="insert">Inserisci Struttura</a>
    <a href="/views/ricerca" class="btn" id="research" >Ricerca Struttura</a>
    <a href="/views/rimuovi" class="btn" id="remove">Rimuovi Struttura</a>
  </div>
</body>
</html>