<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./public/style.css">

    <title>Rimuovi</title>
    <h1 style="text-align:center">Centri culturali di Bologna</h1>
    <p style="text-align:center"> Rimuovi la struttura che è stata chiusa! </p>

    <style>
          #homePage{
            background-color: blue;
            color: whitesmoke;
            margin-top:40px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div class="container p-3 text-center" style="background-color: rgb(155, 196, 233);">
            <div class="row" id="colonnaNome">
                <div class="col">
                    <p> Inserisci il nome della struttura da rimuovere </p>
                </div>
                <div class="col">
                        <input 
                            type="text" 
                            placeholder="Search.." 
                            name="nome" 
                            id="nome">               
                        <button class="btn btn-danger" id="remove">
                        <i class="fa fa-trash-o fa-lg"></i> Elimina</button>
                </div>
            </div>
    </div>
    <div class="container text-center" style="margin-bottom: 50px">
        <a href="/" class="btn" id="homePage" style="margin-top:20px;">Torna alla Home Page</a>
        <div class="container" id="Rimozione"></div>
    </div>
    

    <script>
        const element = document.getElementById("remove");
        element.addEventListener("click", removeStructure);

        async function removeStructure() {

            let table = '<table id="table" style="margin-top: 20px">'+
                        '<thead style="background-color: rgb(86, 86, 244)">' +
                        '<tr><th scope="col"> Denominazione </th>' +
                        '<th scope="col"> Quartiere </th>' +
                        '<th scope="col"> Indirizzo </th>' +
                        '<th scope="col"> Categoria </th>' +
                        '<th scope="col"> Descrizione </th></tr>' +
                        '</thead><tbody id="tabellaDati">';

            const nome = document.getElementById("nome").value;
            
            // dati da inviare grazie all'endPoint DELETE
            let data = {
                            Denominazione: nome
                        };

            // se il campo nome è stato inserito
            if(nome != ""){
                const response = 
                    await fetch('/rimuovi', {
                                        method: 'DELETE',
                                        headers: {
                                                    Accept: 'application/json',
                                                            'Content-Type': 'application/json',
                                                 },
                                        body: JSON.stringify(data)                                                            
                                    });
                const strutture = await response.json();

                document.getElementById("nome").value = "";                
                if(response.ok) {         
                    // procedi solo una volta che la promessa è stata risolta
                    console.log("dati acquisiti")            

                        table +=
                                '<tr class="fw-lighter"><th scope="row">' + 
                                        JSON.stringify(strutture.Denominazione) + '</th>' +
                                '<td>' + JSON.stringify(strutture.Quartiere) + '</td>' + 
                                '<td>' + JSON.stringify(strutture.Indirizzo) + '</td>' +
                                '<td>' + JSON.stringify(strutture.Categoria) + '</td>' +
                                '<td>' + JSON.stringify(strutture.Descrizione) + '</td>';
                    table += "</td></tbody></table>";
                    document.getElementById("Rimozione").innerHTML = '<h4><i> L elemento rimosso è:  </i></h4>' + table;
                }
                else {
                        txt = await response.text();
                        document.getElementById('risultato').innerHTML =  '<h4>ERRORE: ' + txt + '</h4>';
                    }                     
            }else{
                alert("ATTENZIONE! Non è stato possibile rimuovere alcuna struttura..")
            }
        }
    </script>
</body>
</html>